.fmorado {
    background-color: rgb(184, 13, 72);
}

.menuIcon {
    width: 40px;
    margin-right: 25px;
}

.cont-menu {
    height: 60px;
    width: 122px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    transition: all 1.5s;
}

.persona {
    padding-left: 26px;
    padding-top: 5px;
}


.contenedor-header {
    margin: 0 !important;
    padding: 0 !important;
}