.containerLateral{
    display: flex;
    flex-direction: column;
    width: 10%;
    padding-left:20px;
    padding-right:20px;
    background-color: rgb(184, 13, 72);
    height: 84.3vh;
    
}
.NavLogo{
    width: 90%;
    margin:10px 0;
}
.contraer{
    display:none;
}
.expandido{
    display: block;
}

.menuIcon{
    width:40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
}
.contraIcon{
    margin: 10px 10px 10px 10px;
}
.expIcon{
    margin: 0 0 0 150px;
}