<div [ngClass]="!expandir ? 'contraer': 'expandido'">

    <div class="containerLateral">
    
        <a href="">
            <img class="NavLogo" src="../../../../assets/Images/usuario.png" alt="">
        </a>
        <div class="Navitems">
            <a href="">
                <img src="../../../../assets/Images/usuario.png" alt="">
            </a>
            <a href=""><h2>Item 1</h2></a>
            <a href=""><h2>Item 2</h2></a>
            <a href=""><h2>Item 3</h2></a>
            <a href=""><h2>Item 4</h2></a>
        </div>
        <p>Un manjar para compartir la experiencia</p>
    </div>
</div>

<div class="cambio" (click)="expandir = !expandir" [ngClass]="!expandir ? 'contraIcon': 'expIcon'">
    <img class="menuIcon" src="../../../../assets/Images/menu.png" alt="">
</div>